openapi: 3.0.0
servers:
  - url: https://api.reworkly.com
    description: Production
  - url: http://localhost:8080
    description: Local Development
info:
  title: Reworkly APIs
  version: v1
  termsOfService: "https://developer.reworkly.com/legal/"
  contact:
    name: Support
    email: team@reworkly.com
    url: https://github.com/reworkly
  x-logo:
    url: "https://github.com/reworkly.png"
    altText: Reworkly logo
  description: |
    # Introduction
    Use Reworkly APIs to make calls and get the data you need to integrate your application with our platform.

    **Endpoints:**

    - [Account](#tag/account-overview)
    - [Recruiting](#tag/recruiting-overview)
    - [Onboarding](#tag/onboarding-overview)
    - [Employees](#tag/employees-overview)
    - [Time and Scheduling](#tag/time-overview)
    - [Payroll](#tag/payroll-overview)

    haha:
      
    - [Server](#tag/server-overview)
    - [List of Values (LOV)](#tag/lov-overview)
    - [Profile](#tag/profile-overview)

    # Getting Started
    The Reworkly APIs are organized around REST. Our API has predictable resource-oriented URLs, 
    accepts form-encoded or JSON-encoded request bodies, returns JSON-encoded responses, 
    and uses standard HTTP response codes, authentication, and verbs.

    [See more](/docs/getting-started/)

x-tagGroups:
  - name: account
    x-displayName: Account
    tags:
      - account-overview
      # - account-datamodel
      - account-endpoints
  - name: recruiting
    x-displayName: Recruiting
    tags:
      - recruiting-overview
      - recruiting-datamodel
      - recruiting-endpoints
      - Jobs
      - Job Members
      - Job Stages
      - Job Sources
      - Job Candidates
      - Job Offers
      - Job Offer Variables
      - Job Offer Documents
      - Job Events
      - Job Event Organizers
      - Job Event Candidates
      - Pools
      - Pool Members
      - Pool Candidates
      - Sortings
      - Sorting Conditions
      - Sorting Associations
      - Sorting Association Candidates
  - name: onboarding
    x-displayName: Onboarding
    tags:
      - onboarding-overview
      - onboarding-datamodel
      - onboarding-endpoints
  - name: employees
    x-displayName: Employees
    tags:
      - employees-overview
      - employees-datamodel
      - employees-endpoints
  - name: time
    x-displayName: Time and Scheduling
    tags:
      - time-overview
      - time-datamodel
      - time-endpoints
  - name: payroll
    x-displayName: Payroll
    tags:
      - payroll-overview
      - payroll-datamodel
      - payroll-endpoints
  - name: server
    x-displayName: Server
    tags:
      - server-health
      - server-settings
  - name: lov
    x-displayName: List of Values (LOV)
    tags:
      - lov-overview
      - lov-datamodel
      - lov-endpoints
      - lov-lookups
      - lov-lookup-values
      - lov-translations
  - name: profile
    x-displayName: Profile Management
    tags:
      - profile-overview
      - profile-datamodel
      - profile-endpoints
      - profile-profiles
      - profile-profile-names
      - profile-profile-images
      - profile-profile-emails
      - profile-profile-phones
      - profile-profile-webs
      - profile-profile-socials
      - profile-profile-addresses
      - profile-profile-educations
      - profile-profile-languages
      - profile-profile-skills
      - profile-profile-experiences
      - profile-profile-attachments
      - profile-profile-citizenships
      - profile-profile-tests
      - profile-profile-test-components
      - profile-profile-awards
      - profile-profile-contents
      - profile-profile-types
      - profile-profile-type-attributes
      - profile-content-types
      - profile-content-type-attributes
      - profile-rating-scales
      - profile-rating-scale-levels
  - name: integration
    x-displayName: Integration
    tags:
      - Integration Overview
      - Assessment
      - Background Check
      - Evaluation/Rating
tags:
  # General Tags
  - name: server-health
    x-displayName: Server Health
    description: Server Health for Reworkly APIs
  - name: server-settings
    x-displayName: Server Settings
    description: Server Settings for Reworkly APIs
  # Account
  - name: account-overview
    x-displayName: Account Overview
    description: |
      Reworkly Account
  - name: account-datamodel
    x-displayName: Account Data Model
    description: |
      The data model of the Account is represented by the following conceptual model. 
      This will make it easier for you to understand the Account Endpoints.

      <a href="/img/datamodel/reworkly_account.png" target="_blank">
        <img src="/img/datamodel/reworkly_account.png" alt="Account Data Model" />
      </a>

      _Click to enlarge the image._
  - name: account-endpoints
    x-displayName: Account Endpoints
    description: |
      ### Accounts:
      - [Accounts](#tag/Accounts)

      ### Account Settings:
  # Recruiting
  - name: recruiting-overview
    x-displayName: Recruiting Overview
    description: |
      Reworkly Recruiting optimizes enrollment and improve recruiter productivity by identifying and targeting high-value candidates.
  - name: recruiting-datamodel
    x-displayName: Recruiting Data Model
    description: |
      The data model of the Recruiting is represented by the following conceptual model. 
      This will make it easier for you to understand the Recruiting Endpoints.

      <a href="/img/datamodel/reworkly_recruit.png" target="_blank">
        <img src="/img/datamodel/reworkly_recruit.png" alt="Recruiting Data Model" />
      </a>

      _Click to enlarge the image._
  - name: recruiting-endpoints
    x-displayName: Recruiting Endpoints
    description: |
      ### Job:
      - [Jobs](#tag/Jobs)
      - [Job Members](#tag/Job-Members)
      - [Job Stages](#tag/Job-Stages)
      - [Job Sources](#tag/Job-Sources)
      - [Job Candidates](#tag/Job-Candidates)
      - [Job Offers](#tag/Job-Offers)
      - [Job Offer Variables](#tag/Job-Offer-Variables)
      - [Job Offer Documents](#tag/Job-Offer-Documents)
      - [Job Events](#tag/Job-Events)
      - [Job Event Organizers](#tag/Job-Event-Organizers)
      - [Job Event Candidates](#tag/Job-Event-Candidates)

      ### Talent Pool:
      - [Pools](#tag/Pools)
      - [Pool Members](#tag/Pool-Members)
      - [Pool Candidates](#tag/Pool-Candidates)

      ### Candidate Sorting:
      - [Sortings](#tag/Sortings)
      - [Sorting Conditions](#tag/Sorting-Conditions)
      - [Sorting Associations](#tag/Sorting-Associations)
      - [Sorting Association Candidates](#tag/Sorting-Association-Candidates)
  - name: Jobs
    x-displayName: Jobs
    description: |
      You create jobs that contain the specific requirements for a job for which candidates are hired. 
      A job can contain prescreening questionnaires and screening services such as background checks. 
      You post jobs on the career site that candidates visit as they search for jobs to apply for or refer people for the job.
  - name: Job Members
    x-displayName: Job Members
    description: |
      Admins on your account have access to every job and candidate, 
      but do not need to be included in the team member if the job is not relevant to them. 

      They can add or remove themselves from the team member of the job at any time.

      Other members must be added to the job's member to have access to candidates and assist with the recruiting process. 
      If they are not on the job members they will not be able to see or interact with candidates for that job.
  - name: Job Stages
    description: |
      Job Stage is a recruiting pipeline that can be used to create different recruiting processes for different types of jobs.

      Available Types:
        - Sourced
        - Applied
        - Shortlisted
        - Assessment
        - Interview
        - Offer
        - Hired
  - name: Job Sources
    description: |
      Job Source identifies the source from which the applicant is registered.

      Source Types:
        - **Manual** - Used only if a recruiter add a candidate manually.
        - **Career Page** - Used only if a candidate apply from the Career Page.
  - name: Job Candidates
    description: |
      Candidates.
  - name: Job Offers
    description: |
      Job Offers.
  - name: Job Events
    description: |
      Job Event is a calendar event such as a call, an interview, and a meeting. 

      Event Types:
        - Call
        - Interview
        - Meeting
  - name: Job Event Organizers
    description: |
      An Event Organizer is the member participating in the event. Each organizer object contains the id, the member id, the data of the member and the status.
  - name: Job Event Candidates
    description: |
      An Event Candidate is the candidate participating in the event. Each candidate object contains the id, the candidate id, and the data of the candidate.
  - name: Job Offers
    description: |
      You create job offers by providing details such as proposed start date, job assignment, salary, or other compensation. 
      You extend job offers to candidates. Candidates receive the offers, consider the content, and respond to the offers by either accepting or declining them.
      When the candidate accepts the job offer, the candidate is handed over to the HR specialist who finalizes the HR records for this worker.
  - name: Job Offer Variables
    description: |
      The variables related to the offer.

      **Built-in Variables:**

      We’ve created a list of common variables that you can use.
      When writing your offer title and body in a word processor, include variables you wish to utilize in square brackets, e.g.: [candidate_name].

        General variables:
        - Today's Date - `[date_today]` e.g.: 2023-08-01

        Candidate related variables:
        - Candidate ID - `[candidate_id]` e.g.: d5a7a5b7-a4a3-49e7-9c69-b44d2cbe15cf
        - Candidate Name - `[candidate_name]` e.g.: John Doe
        - Candidate Number - `[candidate_number]` e.g.: CAND1001
        - Candidate Signature - `[candidate_signature]`

        Job related variables:
        - Job ID - `[job_id]` e.g.: d5a7a5b7-a4a3-49e7-9c69-b44d2cbe15cf
        - Job Name - `[job_name]` e.g.: Senior Backend Developer
        - Job Responsibility - `[job_responsibility]`

        Salary related variables:
        - Salary Amount - `[salary_amount]` e.g.: 25
        - Salary Frequency - `[salary_frequency]` e.g.: Hourly
        - Salary Currency - `[salary_currency]` e.g.: USD
        - Salary - `[salary]` e.g.: 25 USD per Hourly
        - Bonus - `[bonus]`

        Offer related variables:
        - Offer Expiration Date - `[offer_expiration_date]` e.g.: 2023-08-09

        Sender related variables:
        - Sender Name - `[sender_name]` e.g.: John Appleseed
        - Sender Title - `[sender_title]` e.g.: Hiring Manager
        - Sender Signature - `[sender_signature]`
  - name: Job Offer Documents
    description: |
      The documents related to the offer (Offer letter & other documents)
  # Candidate Sorting
  - name: Sortings
    description: |
      You can sort candidates with conditional sorting for each stage in your pipeline.
      The sorting will help recuiters move qualified top candidates to the next stage easily.
  - name: Sorting Conditions
    description: |
      Sorting Conditions.
  - name: Sorting Associations
    description: |
      Sorting Associations.
  - name: Sorting Association Candidates
    description: |
      Association Candidates.
  # Talent Pool
  - name: Pools
    description: |
      The Talent Pool is a place to upload and store candidates who do not fit in an active job, but who you'd like to consider for future roles.
  - name: Pool Members
    description: |
      Admins on your account have access to every talent pool and its candidate, but do not need to be included in the team member if the talent pool is not relevant to them.

      They can add or remove themselves from the team member of the talent pool at any time.

      Other members must be added to the talent pool's member to have access to candidates. 

      If they are not on the talent pool members they will not be able to see or interact with candidates for that talent pool.
  - name: Pool Candidates
  # Onboarding
  - name: onboarding-overview
    x-displayName: Onboarding Overview
    description: |
      The Reworkly Onboarding can be used to assign and track the progress of basic onboarding activities after a candidate has been hired. This can apply to basic company-wide onboarding or role-specific onboarding activities. Specific tasks and deadlines can be tracked within the Reworkly Onboarding to ensure the new hire is on track.
  - name: onboarding-datamodel
    x-displayName: Onboarding Data Model
    description: |
      The data model of the Onboarding is represented by the following conceptual model. 
      This will make it easier for you to understand the Onboarding Endpoints.

      <a href="/img/datamodel/reworkly_onboarding.png" target="_blank">
        <img src="/img/datamodel/reworkly_onboarding.png" alt="Onboarding Data Model" />
      </a>

      _Click to enlarge the image._
  - name: onboarding-endpoints
    x-displayName: Onboarding Endpoints
    description: |
      **Endpoints:**
  # Employees
  - name: employees-overview
    x-displayName: Employees Overview
    description: |
      Manage your Employees' data, and make informed decisions.
  - name: employees-datamodel
    x-displayName: Employee Data Model
    description: |
      The data model of the Employees is represented by the following conceptual model. 
      This will make it easier for you to understand the Employees Endpoints.

      <a href="/img/datamodel/reworkly_employees.png" target="_blank">
        <img src="/img/datamodel/reworkly_employees.png" alt="Employee Data Model" />
      </a>

      _Click to enlarge the image._
  - name: employees-endpoints
    x-displayName: Employees Endpoints
    description: |
      **Endpoints:**
  # Time & Scheduling
  - name: time-overview
    x-displayName: Time & Scheduling Overview
    description: |
      Time and Scheduling helps you track your team's attendance, configure schedule, manage time logs.
  - name: time-datamodel
    x-displayName: Time & Scheduling Data Model
    description: |
      The data model of the Time & Scheduling is represented by the following conceptual model. 
      This will make it easier for you to understand the Time & Scheduling Endpoints.

      <a href="/img/datamodel/reworkly_time.png" target="_blank">
        <img src="/img/datamodel/reworkly_time.png" alt="Time & Scheduling Data Model" />
      </a>

      _Click to enlarge the image._
  - name: time-endpoints
    x-displayName: Time & Scheduling Endpoints
    description: |
      **Endpoints:**
  # Payroll
  - name: payroll-overview
    x-displayName: Payroll Overview
    description: |
      Payroll is a rules-based product. All payroll processes, calculations, and results are determined by a set of rules that you can easily build.
  - name: payroll-datamodel
    x-displayName: Payroll Data Model
    description: |
      The data model of the Payroll is represented by the following conceptual model. 
      This will make it easier for you to understand the Payroll Endpoints.

      <a href="/img/datamodel/reworkly_payroll.png" target="_blank">
        <img src="/img/datamodel/reworkly_payroll.png" alt="Payroll Data Model" />
      </a>

      _Click to enlarge the image._
  - name: payroll-endpoints
    x-displayName: Payroll Endpoints
    description: |
      **Endpoints:**
  # List of Values
  - name: lov-overview
    x-displayName: LOV Overview
    description: |
      LOV is a static or dynamic set of values used to display a specific type of page item, such as popup lists of values, a select list, a check box, a radio group, or multiple select lists.
  - name: lov-datamodel
    x-displayName: LOV Data Model
    description: |
      The data model of the LOV is represented by the following conceptual model. 
      This will make it easier for you to understand the LOV Endpoints.

      <a href="/img/datamodel/reworkly_lov.png" target="_blank">
        <img src="/img/datamodel/reworkly_lov.png" alt="LOV Data Model" />
      </a>

      _Click to enlarge the image._
  - name: lov-endpoints
    x-displayName: LOV Endpoints
    description: |
      ### Endpoints:
      - [Lookups](#tag/lov-ookups)
      - [Lookup Values](#tag/lov-lookup-values)
      - [Translations](#tag/lov-translations)
  - name: lov-lookups
    x-displayName: Lookups
    description: |
      Lookups are lists of values in applications. You define a list of values as a lookup consisting of a set of lookup values.
      Lookup and Lookup values are translated name and description. End users see the list of translated names and descriptions as the available values for an object.
  - name: lov-lookup-values
    x-displayName: Lookup Values
    description: |
      Lookups provide lists of values where valid values appear on a list with no duplicate values. 
      For example, an application might store the values Male and Female in a Gender in a table, 
      but when displaying those values in the user interface, Male or Female (or their translated equivalents) should be available for end users to select.
  - name: lov-translations
    x-displayName: Translations
    description: |
      You can translate the lookups and values that you defined to the preferred language(s) without changing the language session of the application. 
      When you edit a particular language entry, you can modify the translated name and description to the language in which you want the lookup to appear.
      Once the updates are made, the end-users can view the lookup in the translated text.
  # Profile
  - name: profile-overview
    x-displayName: Profile Overview
    description: |
      Profiles are widely used by organizations to describe the attributes of jobs or individuals. 
      Typically, profiles summarize the competencies, qualifications, and skills of any type of objects. 
      Profiles are valuable for tracking persons' skills, competencies, and accomplishments, in career planning, 
      for identifying training needs, for performance management, and in the recruitment process for identifying job requirements and suitable applicants.
  - name: profile-datamodel
    x-displayName: Profile Data Model
    description: |
      The data model of the Profile is represented by the following conceptual model. 
      This will make it easier for you to understand the Profile Endpoints.

      <a href="/img/datamodel/reworkly_profile.png" target="_blank">
        <img src="/img/datamodel/reworkly_profile.png" alt="LOV Data Model" />
      </a>

      _Click to enlarge the image._
  - name: profile-endpoints
    x-displayName: Profile Endpoints
    description: |
      ### Profile Management:
      - [Profiles](#tag/profile-profiles)
      - [Profile Names](#tag/profile-profile-names)
      - [Profile Images](#tag/profile-profile-images)
      - [Profile Emails](#tag/profile-profile-emails)
      - [Profile Phones](#tag/profile-profile-phones)
      - [Profile Webs](#tag/profile-profile-webs)
      - [Profile Socials](#tag/profile-profile-socials)
      - [Profile Addresses](#tag/profile-profile-addresses)
      - [Profile Educations](#tag/profile-profile-educations)
      - [Profile Languages](#tag/profile-profile-languages)
      - [Profile Skills](#tag/profile-profile-skills)
      - [Profile Experiences](#tag/profile-profile-experiences)
      - [Profile Citizenships](#tag/profile-profile-citizenships)
      - [Profile Tests](#tag/profile-profile-tests)
      - [Profile Test Components](#tag/profile-profile-test-components)
      - [Profile Awards](#tag/profile-profile-awards)
      - [Profile Attachments](#tag/profile-profile-attachments)
      - [Profile Contents](#tag/profile-profile-contents)

      ### Profile Types:
      - [Profile Types](#tag/profile-profile-types)
      - [Profile Type Attributes](#tag/profile-profile-type-attributes)
      - [Content Types](#tag/profile-content-types)
      - [Content Type Attributes](#tag/profile-content-type-attributes)

      ### Rating Scales:
      - [Rating Scales](#tag/profile-rating-scales)
      - [Rating Scale Levels](#tag/profile-rating-scale-levels)
  - name: profile-profile-types
    x-displayName: Profile Types
    description: |
      The profile type defines the content types and attributes that define the structure of your profiles.
  - name: profile-profile-type-attributes
    x-displayName: Profile Type Attributes
    description: |
      When you define a profile type, you specify attributes of the profile type that the user can select when creating a profile. 

      For example, suppose that you create a profile type and specify that it can be linked to candidate id and address. 
      When users create a profile based on that profile type, they can only select candidate id and address for the new profile. 

      Every profile type consists of a required attribute at least for identifying a profile.
  - name: profile-content-types
    x-displayName: Content Types
    description: |
      A content type is a broad definition of a group of items that can be added to the profile type. 
      Within a content type, specify attributes for all items of this type can or must have.
  - name: profile-content-type-attributes
    x-displayName: Content Type Attributes
    description: |
      When you add a content type to a profile type, you add the attributes that define the information entered for that specific profile type.
  - name: profile-profiles
    x-displayName: Profiles
    description: |
      Every user and candidate has a profile. It includes personal information like firstname, lastname, image, and social accounts, educations, experiences, skills and attachments.

      **Built-in Content Types** - Names, Images, Emails, Phones, Webs, Socials, Addresses, Educations, Languages, Skills, Experiences, and Attachments.

      **Custom Content Type:**
        - [Profile Contents](#tag/profile-profile-contents)
  - name: profile-profile-names
    x-displayName: Profile Names
    description: |
      Profile Names is a list of names for the profile. 

      Each entry contains the following fields:
        - Type - e.g: Full Name
        - Text - e.g: John Doe
  - name: profile-profile-images
    x-displayName: Profile Images
    description: |
      Profile Images is a list of images for the profile. 

      Each entry contains the following fields:
        - Type - e.g: Profile
        - URL - e.g: htts://github.com/aircampi.png
        - description - e.g: GitHub Profile
  - name: profile-profile-emails
    x-displayName: Profile Emails
    description: |
      Profile Emails is a list of emails for the profile. 

      Each entry contains the following fields:
        - Type - e.g: Work
        - address - e.g: hello@aircampi.com
        - description - e.g: Hello Mail
  - name: profile-profile-phones
    x-displayName: Profile Phones
    description: |
      Profile Phones is a list of phones for the profile. 

      Each entry contains the following fields:
        - Type - e.g: Work
        - Country - e.g: +976
        - number - e.g: 99112233
        - extension - e.g: 1
        - description - e.g: Work Phone
  - name: profile-profile-webs
    x-displayName: Profile Webs
    description: |
      Profile Webs is a list of webs for the profile. 

      Each entry contains the following fields:
        - Type - e.g: Personal
        - address - e.g: htts://github.com/aircampi
        - description - e.g: GitHub Profile
  - name: profile-profile-socials
    x-displayName: Profile Socials
    description: |
      Profile Socials is a list of social accounts, and you can provide one social account url for each social network type. 

      Each entry contains the following fields:
        - Type - e.g: Facebook
        - Username - e.g: aircampi.com
        - URL - e.g: https://www.facebook.com/aircampi
  - name: profile-profile-addresses
    x-displayName: Profile Addresses
    description: |
      Profile Addresses is a list of addresses for the profile. 

      Each entry contains the following fields:
        - Type - e.g: Home Address
        - Country - e.g: United States
        - state - e.g: 
        - zipcode - e.g: 
        - City - e.g: Washington D.C
        - line_1 - e.g: bayanzurkh district
        - line_2 - e.g: Peace avenue
        - line_3 - e.g: Building III
  - name: profile-profile-educations
    x-displayName: Profile Educations
    description: |
      Profile Educations is a list of education entries. 

      Each entry may contain the following fields:
        - School
        - Level
        - Degree
        - Field of Study
        - Start at
        - End at
        - Completed - True if still study there
        - Description
  - name: profile-profile-languages
    x-displayName: Profile Languages
    description: |
      Profile Languages is a list of language skills for the profile. 

      Each entry contains the following fields:
        - Language
        - Native
        - profile-rating-scales
        - Writing Level
        - Reading Level
        - Listening Level
        - Speaking Level
        - Overall Level
        - Overall Score
        - Assessment At
        - Description
  - name: profile-profile-skills
    x-displayName: Profile Skills
    description: |
      Profile Skill is a list of skills.
  - name: profile-profile-experiences
    x-displayName: Profile Experiences
    description: |
      Profile Experiences is a list of employments. 

      Each entry may contain the following fields:
        - Title
        - Company
        - Industry
        - Start at
        - End at
        - Current - True if still works there
        - Description
  - name: profile-profile-attachments
    x-displayName: Profile Attachments
    description: |
      Profile Attachments is a list of attachments.
  - name: profile-profile-citizenships
    x-displayName: Profile Citizenships
    description: |
      Profile Citizenship is a list of citizenship data.

      Each entry may contain the following fields:
      - Country
      - Nation ID
      - Issued at
      - Expiry at
      - Description
  - name: profile-profile-tests
    x-displayName: Profile Tests
    description: |
      Profile Test is a list of test or exam data.

      Each entry may contain the following fields:
      - Type
      - Score
      - Test at
      - Description
  - name: profile-profile-test-components
    x-displayName: Profile Test Components
    description: |
      Profile Test Component is a list of test components such as speaking, listening for the IELTS.

      Each entry may contain the following fields:
      - Type
      - Score
      - Test at
      - Description
  - name: profile-profile-awards
    x-displayName: Profile Awards
    description: |
      Profile Award is a list of award or honor data.

      Each entry may contain the following fields:
      - Type
      - Name
      - Number
      - Description
      - Issued at
      - Expiry at
  - name: profile-profile-contents
    x-displayName: Profile Contents
    description: |
      Profile Content is a list of contents defined in the content type of the profile type.
  - name: profile-rating-scales
    x-displayName: Rating Scales
    description: |
      Rating scales define the values that can be used to rate an profile's performance or level of proficiency.
  - name: profile-rating-scale-levels
    x-displayName: Rating Scale Levels
    description: |
      The rating scale defines the qualitative values, such as A, B, C, or D, that the system uses to rate or score an profile's performance. 
      Each qualitative value can have a rating level, and numeric points in levels of the rating scale.
    # Integration
  - name: Integration Overview
    description: |
      Register your assessments, background checks, or reference checks service as integration in Reworkly Recruiting.
  - name: Assessment
    description: |
      You use assessments to assess and measure the knowledge, skills, abilities, and attributes of candidates for a job.

      When you create a job, you add assessments in the Screening Services section. You can add one or more assessment screening packages. 
      After you select the assessment partner and user account, you need to decide if candidates take the assessment when applying for a job, 
      or during the candidate selection process, or both.
  - name: Background Check
    description: |
      You can use a background check during the candidate selection process to investigate a candidate's background before hiring them.

      A check on a candidate's background may include verifications such as employment history, education, criminal records. 
      After the background check is complete, candidates are ready to be moved to the next step in the recruiting process.

      Your administrator configures when the background check is automatically triggered during the candidate selection process. 
      The background check partner obtains the candidate's info and completes the background check. You then receive a notification.

      If you create a job based on a template which contains background checks, the background checks are added to the job. 
      You can edit the selected background check packages. If you create a requisition using a blank form, you can add background checks in the Screening Services section. 
      You can add one or more background check packages, usually multiple packages with a single screening.
  - name: Evaluation/Rating
    description: |
      Candidate ratings/evaluations are a critical aspect of the hiring process. 
      They help recruiters and hiring managers collect feedback from interviewers and make data-driven decisions.

      **Simple Rating** <br/>
      Rate the candidate with a star, thumbs up, or thumbs down rating, depending on how interested you are in moving the candidate to the next stage in the pipeline.

      **Scorecard Evaluation** <br/>

      **Rubric** <br/>
      Rubric is a scoring tool you can use to evaluate candidate.
paths:
  # Server Health
  /health:
    get:
      tags:
        - server-health
      summary: Check Health
      description: Check Health
      operationId: checkServerHealth
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/server_health"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  # Server Settings
  /settings:
    get:
      tags:
        - server-settings
      summary: Get Server Settings
      description: Get a server settings.
      operationId: getServerSettings
      security:
        - Scopes:
            - "read:server_settings"
      parameters:
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/server_settings"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    put:
      tags:
        - server-settings
      summary: Update Server Settings
      description: Update a server settings. Updates all fields in a settings.
      operationId: updateServerSettings
      security:
        - Scopes:
            - "update:server_settings"
      parameters:
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/server_settings_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/server_settings"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    patch:
      tags:
        - server-settings
      summary: Patch Server Settings
      description: Patch a server settings. Updates one or more fields in a settings. The operation updates passed fields only.
      operationId: patchServerSettings
      security:
        - Scopes:
            - "update:server_settings"
      parameters:
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/server_settings_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/server_settings"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  # Job Management
  /jobs:
    get:
      tags:
        - Jobs
      summary: Get Jobs
      description: |
        Returns a list of jobs that the requesting user is permitted to view.
      operationId: getJobs
      security:
        - Scopes:
            - "read:jobs"
      parameters:
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/header_account_id"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
        - $ref: "#/components/parameters/query_q"
        - $ref: "#/components/parameters/query_sort"
        - $ref: "#/components/parameters/query_offset"
        - $ref: "#/components/parameters/query_limit"
        - $ref: "#/components/parameters/query_total_count"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/jobs"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    post:
      tags:
        - Jobs
      summary: Create Job
      description: |
        Create an Job.
      operationId: createJob
      security:
        - Scopes:
            - "create:jobs"
      parameters:
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_create"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}:
    get:
      tags:
        - Jobs
      summary: Get Job
      description: |
        Retrieve a single job details.
      operationId: getJob
      security:
        - Scopes:
            - "read:jobs"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    put:
      tags:
        - Jobs
      summary: Update Job
      description: |
        You can update fields of an job after the job is created. The following fields can be updated any time after the job is created.

        **Available fields to update:**
          - name
          - description
          - workload
          - temporary
          - function
          - department
          - location
          - industry
          - benefits
          - salary_min
          - salary_max
          - salary_currency
          - metadata
          - app_metadata
      operationId: updateJob
      security:
        - Scopes:
            - "update:jobs"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    patch:
      tags:
        - Jobs
      summary: Patch Job
      description: |
        Updates one or more fields in an job. The operation updates passed fields only.

        **Available fields to update:**
          - name
          - description
          - workload
          - temporary
          - function
          - department
          - location
          - industry
          - benefits
          - salary_min
          - salary_max
          - salary_currency
          - metadata
          - app_metadata
      operationId: patchJob
      security:
        - Scopes:
            - "update:jobs"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    delete:
      tags:
        - Jobs
      summary: Delete Job
      description: |
        Deleting a job will completely remove the job and all candidates as well as any data associated with it.
      operationId: deleteJob
      security:
        - Scopes:
            - "delete:jobs"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/status:
    post:
      tags:
        - Jobs
      summary: Change Job Status
      description: |
        Changes status of an job to the status specified in the request body.

        Statuses:
          - Draft <br/>
            _A Draft job is a job that is saved but not yet published._
          - Published <br/>
            _A Published job can be visible for candidates on any available sources such as career page. Candidates will be able to find your published job and submit applications._ 
          - Published for Internal <br/> 
            _A Published interal job is not visible on your career page. Only people with the job's direct link can see it. Candidates can apply. You can access the job's pipeline._
          - Closed <br/>
            _Closed jobs are only visible to members of the recruiting team for the job. All Super Admins can see closed jobs._
          - Archived <br/>
            _Archived jobs enter a 'read-only' mode. Candidates remain in your account and can be copied or moved to other jobs, but you are not able to interact with their profiles._

      operationId: changeJobStatus
      security:
        - Scopes:
            - "update:jobs"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      requestBody:
        $ref: "#/components/requestBodies/job_status_change"
      responses:
        "200":
          description: OK.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/duplicate:
    post:
      tags:
        - Jobs
      summary: Duplicate Job
      description: |
        Duplicate an Job.
      operationId: duplicateJob
      security:
        - Scopes:
            - "read:jobs"
            - "create:jobs"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_duplicate"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/stages:
    get:
      tags:
        - Job Stages
      summary: Get Stages
      description: |
        Returns a list of stages of the job.
      operationId: getJobStages
      security:
        - Scopes:
            - "read:jobs"
            - "read:job_stages"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
        - $ref: "#/components/parameters/query_q"
        - $ref: "#/components/parameters/query_sort"
        - $ref: "#/components/parameters/query_offset"
        - $ref: "#/components/parameters/query_limit"
        - $ref: "#/components/parameters/query_total_count"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_stages"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    post:
      tags:
        - Job Stages
      summary: Add Stage
      description: |
        Add a stage to the job.
      operationId: createJobStage
      security:
        - Scopes:
            - "update:jobs"
            - "create:job_stages"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_stage_create"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_stage_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/stages/{stage_id}:
    get:
      tags:
        - Job Stages
      summary: Get Stage
      description: |
        Retrieve a single stage details.
      operationId: getJobStage
      security:
        - Scopes:
            - "read:jobs"
            - "read:job_stages"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_stage_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_stage_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    put:
      tags:
        - Job Stages
      summary: Update Stage
      description: |
        You can update fields of a stage after the stage is added.
      operationId: updateJobStage
      security:
        - Scopes:
            - "update:jobs"
            - "update:job_stages"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_stage_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_stage_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_stage_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    patch:
      tags:
        - Job Stages
      summary: Patch Stage
      description: |
        Updates one or more fields in a stage. The operation updates passed fields only.
      operationId: patchJobStage
      security:
        - Scopes:
            - "update:jobs"
            - "update:job_stages"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_stage_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_stage_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_stage_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    delete:
      tags:
        - Job_stages
      summary: Remove Stage
      description: |
        You can remove a single stage from the job with this operation.
      operationId: deleteJobStage
      security:
        - Scopes:
            - "update:jobs"
            - "delete:job_stages"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_stage_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/sources:
    get:
      tags:
        - Job Sources
      summary: Get Sources
      description: |
        Returns a list of sources of the job.
      operationId: getJobSources
      security:
        - Scopes:
            - "read:jobs"
            - "read:job_sources"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
        - $ref: "#/components/parameters/query_q"
        - $ref: "#/components/parameters/query_sort"
        - $ref: "#/components/parameters/query_offset"
        - $ref: "#/components/parameters/query_limit"
        - $ref: "#/components/parameters/query_total_count"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_sources"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    post:
      tags:
        - Job Sources
      summary: Add Source
      description: |
        Add a source to the job.
      operationId: createJobSource
      security:
        - Scopes:
            - "update:jobs"
            - "create:job_sources"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_source_create"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_source_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/sources/{source_id}:
    get:
      tags:
        - Job Sources
      summary: Get Source
      description: |
        Retrieve a single source details.
      operationId: getJobSource
      security:
        - Scopes:
            - "read:jobs"
            - "read:job_sources"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_source_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_source_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    put:
      tags:
        - Job Sources
      summary: Update Source
      description: |
        You can update fields of a source after the source is added.
      operationId: updateJobSource
      security:
        - Scopes:
            - "update:jobs"
            - "update:job_sources"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_source_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_source_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_source_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    patch:
      tags:
        - Job Sources
      summary: Patch Source
      description: |
        Updates one or more fields in a source. The operation updates passed fields only.
      operationId: patchJobSource
      security:
        - Scopes:
            - "update:jobs"
            - "update:job_sources"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_source_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/job_source_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_source_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    delete:
      tags:
        - Job Sources
      summary: Remove Source
      description: |
        You can remove a single source from the job with this operation.
      operationId: deleteJobSource
      security:
        - Scopes:
            - "update:jobs"
            - "delete:job_sources"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_source_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/members:
    get:
      tags:
        - Job Members
      summary: Get Members
      description: |
        Returns a list of members of the job that the requester is permitted to view.
      operationId: getJobMembers
      security:
        - Scopes:
            - "read:jobs"
            - "read:job_members"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
        - $ref: "#/components/parameters/query_q"
        - $ref: "#/components/parameters/query_sort"
        - $ref: "#/components/parameters/query_offset"
        - $ref: "#/components/parameters/query_limit"
        - $ref: "#/components/parameters/query_total_count"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_members"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    post:
      tags:
        - Job Members
      summary: Add Members
      description: |
        Add Members to the job.
      operationId: createJobMembers
      security:
        - Scopes:
            - "update:jobs"
            - "create:job_members"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      requestBody:
        $ref: "#/components/requestBodies/job_member_create"
      responses:
        "200":
          description: OK.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    delete:
      tags:
        - Job Members
      summary: Remove Members
      description: |
        You can remove one and more members from an job with this operation.
      operationId: deleteJobMembers
      security:
        - Scopes:
            - "update:jobs"
            - "delete:job_members"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      requestBody:
        $ref: "#/components/requestBodies/user_id_list"
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/members/{user_id}:
    get:
      tags:
        - Job Members
      summary: Get Member
      description: |
        Retrieve single member details from the job.
      operationId: getJobMember
      security:
        - Scopes:
            - "read:jobs"
            - "read:job_members"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_user_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/job_member_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    delete:
      tags:
        - Job Members
      summary: Remove Member
      description: |
        You can remove a single member from an job with this operation. 

        This only removes the specified member from the job and does not affect their user profile.
      operationId: deleteJobMember
      security:
        - Scopes:
            - "update:jobs"
            - "delete:job_members"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_user_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/candidates:
    get:
      tags:
        - Job Candidates
      summary: Get Candidates
      description: |
        Returns a list of candidates of the job.
      operationId: getCandidates
      security:
        - Scopes:
            - "read:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
        - $ref: "#/components/parameters/query_q"
        - $ref: "#/components/parameters/query_sort"
        - $ref: "#/components/parameters/query_offset"
        - $ref: "#/components/parameters/query_limit"
        - $ref: "#/components/parameters/query_total_count"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/candidates"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    post:
      tags:
        - Job Candidates
      summary: Add Candidate
      description: |
        Add a candidate.
      operationId: createCandidate
      security:
        - Scopes:
            - "create:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/candidate_create"
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/candidate_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/candidates/{candidate_id}:
    get:
      tags:
        - Job Candidates
      summary: Get Candidate
      description: |
        Retrieve a single candidate details.
      operationId: getCandidate
      security:
        - Scopes:
            - "read:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_candidate_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/candidate_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    put:
      tags:
        - Job Candidates
      summary: Update Candidate
      description: |
        You can update fields of a candidate after the candidate is created.
      operationId: updateCandidate
      security:
        - Scopes:
            - "update:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_candidate_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/candidate_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/candidate_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    patch:
      tags:
        - Job Candidates
      summary: Patch Candidate
      description: |
        Updates one or more fields in a candidate. The operation updates passed fields only.
      operationId: patchCandidate
      security:
        - Scopes:
            - "update:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_candidate_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
        - $ref: "#/components/parameters/query_fields"
        - $ref: "#/components/parameters/query_expand"
      requestBody:
        $ref: "#/components/requestBodies/candidate_update"
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/candidate_expanded"
          headers:
            X-RateLimit-Limit:
              description: Request limit.
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: The number of requests left for the time window.
              schema:
                type: integer
              example: 99
            X-RateLimit-Reset:
              description: The UTC date/time at which the current rate limit window resets.
              schema:
                type: string
                format: date-time
              example: "2022-10-12T11:00:00Z"
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "409":
          $ref: "#/components/responses/409_conflict"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
    delete:
      tags:
        - Job Candidates
      summary: Delete Candidate
      description: |
        Delete a candidate.
      operationId: deleteCandidate
      security:
        - Scopes:
            - "delete:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_candidate_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      responses:
        "204":
          description: No Content.
        "400":
          $ref: "#/components/responses/400_bad_request"
        "401":
          $ref: "#/components/responses/401_unauthorized"
        "403":
          $ref: "#/components/responses/403_forbidden"
        "404":
          $ref: "#/components/responses/404_not_found"
        "405":
          $ref: "#/components/responses/405_method_not_allowed"
        "429":
          $ref: "#/components/responses/429_too_many_requests"
        "500":
          $ref: "#/components/responses/500_internal_server_error"
        "501":
          $ref: "#/components/responses/501_not_implemented"
        "503":
          $ref: "#/components/responses/503_service_unavailable"
  /jobs/{job_id}/candidates/{candidate_id}/status:
    post:
      tags:
        - Job Candidates
      summary: Change Candidate Status
      description: |
        Changes status of a candidate to the status specified in the request body.
      operationId: changeCandidateStatus
      security:
        - Scopes:
            - "update:candidates"
      parameters:
        - $ref: "#/components/parameters/path_job_id"
        - $ref: "#/components/parameters/path_job_candidate_id"
        - $ref: "#/components/parameters/header_authorization_bearer"
      requestBody:
[...]
